<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <link rel="stylesheet" href="{% static 'users/base/main.css' %}">
    <title>FREYA PHAN - Official International Website</title>
</head>
<body>
    <nav id="navbar" class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>  
            <div class="menu-items">
                <li><a href="/">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Blogs</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="contact/">Contact</a></li>
            </div>
        </div>
        <a href="/" class="brand">FREYA PHAN</a>
    </nav>
    {% block content %}
    {% endblock content %}
    <script>
        var lastScrollTop = 0;
        var navbar = document.getElementById("navbar");
        window.addEventListener("scroll", function () {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            if (scrollTop > lastScrollTop) {
                navbar.style.top = "-100px";
            } else {
                navbar.style.top = "0";
                if (scrollTop === 0) {
                    navbar.classList.remove("scrolled");
                } else {
                    navbar.classList.add("scrolled");
                }
            }
            lastScrollTop = scrollTop;
        });

        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                var panel = this.nextElementSibling;
                var isActive = this.classList.contains("active");
                for (var j = 0; j < acc.length; j++) {
                    var otherPanel = acc[j].nextElementSibling;
                    if (otherPanel !== panel) {
                        otherPanel.style.maxHeight = null;
                        acc[j].classList.remove("active");
                    }
                }
                if (isActive) {
                    this.classList.remove("active");
                    panel.style.maxHeight = null;
                } else {
                    this.classList.add("active");
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
</html>