{% extends 'users/base.html' %}

{% block title %} Home {% endblock title %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'users/home/css/main.css' %}">
<section class="videobg" id="video1">
    <video src="{% static 'users/home/images/video.mp4' %}" type="video/mp4" autoplay loop muted plays-inline class="video" ></video>
    <h2>Freya Phan Deep Time</h2>
    <button>Discover the Collections</button>
</section>

<section class="services">
    <h2>Services</h2>
    <div class="grid">
        <div class="grid-item">
            <div class="card">
                <img class="card-image" src="{% static 'users/home/images/service.jpeg' %}" alt="service img 1">
                <div class="card-content">
                    <h1>How can we help you?</h1>
                    <p>Wherever you are, Freya Phan Client Advisors will be delighted to assist you.</p>
                    <button class="card-btn">Contact Us</button>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img class="card-image" src="{% static 'users/home/images/service2.jpeg' %}" alt="service img 2">
                <div class="card-content">
                    <h1>Art of Gifting</h1>
                    <p>Choose the perfect gift from our specially curated selection of products.</p>
                    <button class="card-btn">Gifts for Her</button>
                    <button class="card-btn">Gifts for Him</button>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card">
                <img class="card-image" src="{% static 'users/home/images/service2.jpeg' %}" alt="service img 3">
                <div class="card-content">
                    <h1>Personalization</h1>
                    <p>Freya Phan's personalization offer spans a wide range of services.</p>
                    <button class="card-btn">Explore our Collections</button>
                </div>
            </div>
        </div>
    </div>
    <section class="links">
        <hr class="hr">
        <div class="container">
            <div class="column">
              <div class="cell cell-head">HELP</div>
              <div class="cell"><a href="#" class="links">You can <span>call</span> or <span>email us</span>.</a></div>
              <div class="cell"><a href="#" class="links">FAQ's</a></div>
              <div class="cell"><a href="#" class="links">Product Care</a></div>
              <div class="cell"><a href="#" class="links">Stores</a></div>
            </div>
            <div class="column">
              <div class="cell cell-head">SERVICES</div>
              <div class="cell"><a href="#" class="links">Repairs</a></div>
              <div class="cell"><a href="#" class="links">Personalization</a></div>
              <div class="cell"><a href="#" class="links">Art of Gifting</a></div>
              <div class="cell"><a href="#" class="links">Download our Apps</a></div>
            </div>
            <div class="column">
              <div class="cell cell-head">ABOUT FREYA PHAN</div>
              <div class="cell"><a href="#" class="links">Fashion Shows</a></div>
              <div class="cell"><a href="#" class="links">Art & Culture</a></div>
              <div class="cell"><a href="#" class="links">La Maison</a></div>
              <div class="cell"><a href="#" class="links">Sustainability</a></div>
              <div class="cell"><a href="#" class="links">Latest News</a></div>
              <div class="cell"><a href="#" class="links">Careers</a></div>
              <div class="cell"><a href="#" class="links">Foundation Freya Phan</a></div>
            </div>
            <div class="column">
              <div class="cell cell-head">CONNECT</div>
              <div class="cell"><a href="#" class="links"><span>Sign up</span> fo first access to latest collections, campaigns and videos.</a></div>
              <div class="cell"><a href="#" class="links">Follow Us</a></div>
              <div class="cell"><a href="contact" class="links">Contact Us</a></div>
            </div>
    </section>
    <hr class="hr">
    <div class="accordian-container">
        <hr class="hr-hid">
        <button class="accordion">Help</button>
            <div class="panel">
                <a href="#">You can <span>call</span> or <span>email us</span>.</a>
                <a href="#">FAQ's</a>
                <a href="#">Product Care</a>
                <a href="#">Stores</a>
            </div>
        
        <hr class="hr-hid">

        <button class="accordion">Services</button>
            <div class="panel">
                <a href="#">Repairs</a>
                <a href="#">Personalization</a>
                <a href="#">Art of Gifting</a>
                <a href="#">Download pur Apps</a>
            </div>

        <hr class="hr-hid">
        
        <button class="accordion">About Freya Phan</button>
            <div class="panel">
                <a href="#">Fashion Shows</a>
                <a href="#">Art & Culture</a>
                <a href="#">La Maison</a>
                <a href="#">Sustainability</a>
                <a href="#">Latest News</a>
                <a href="#">Careers</a>
                <a href="#">Foundation of Freya Phan</a>
            </div>

        <hr class="hr-hid">
        
        <button class="accordion">Connect</button>
            <div class="panel">
                <a href="#"><span>Sign up</span> fo first access to latest collections, campaigns and videos.</a>
                <div class="socialmedia">
                    <i class="fa-brands fa-instagram social insta"></i>
                </div>
            </div>
            <hr class="hr-hid">
    </div>
</section>
{% endblock content %}