<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'base/main.css' %}">
    <title>FREYA PHAN - Official International Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav id="navbar" class="navbar">
        <ul class="nav-list">
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <li><a class="menu__item" href="#">Home</a></li>
                    <li><a class="menu__item" href="#">About</a></li>
                    <li><a class="menu__item" href="#">Team</a></li>
                    <li><a class="menu__item" href="#">Contact</a></li>
                </ul>
            </div>
        </ul>
        <a href="/" class="brand">FREYA PHAN</a>
    </nav>
    {% block content %}
    {% endblock content %}
    <script>
        var lastScrollTop = 0;
        var navbar = document.getElementById("navbar");
        window.addEventListener("scroll", function () {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            if (scrollTop > lastScrollTop) {
                navbar.style.top = "-100px";
            } else {
                navbar.style.top = "0";
                if (scrollTop === 0) {
                    navbar.classList.remove("scrolled"); 
                } else {
                    navbar.classList.add("scrolled"); 
                }
            }
            lastScrollTop = scrollTop;
        });

        document.addEventListener("DOMContentLoaded", function() {
            var menuIcon = document.getElementById("menu_icon");
            var dropdownMenu = document.getElementById("dropdown_menu");
            var closeBtn = document.getElementById("close_btn");

            menuIcon.addEventListener("click", function() {
                dropdownMenu.classList.toggle("hidden");
            });

            closeBtn.addEventListener("click", function() {
                dropdownMenu.classList.add("hidden");
            });
        });

        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                var panel = this.nextElementSibling;
                var isActive = this.classList.contains("active");
                for (var j = 0; j < acc.length; j++) {
                    var otherPanel = acc[j].nextElementSibling;
                    if (otherPanel !== panel) {
                        otherPanel.style.maxHeight = null;
                        acc[j].classList.remove("active");
                    }
                }
                if (isActive) {
                    this.classList.remove("active");
                    panel.style.maxHeight = null;
                } else {
                    this.classList.add("active");
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
</html>
