<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/main.css' %}">
    <title>FREYA PHAN - Official International Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="114x114" href="${resource(dir: 'images', file: 'apple-touch-icon-retina.png')}">
</head>
<body>
    <nav id="navbar" class="navbar">
        <ul class="nav-list">
            <li><i class="fa-solid fa-bars" id="menu_icon"></i></li>
            <li><a class="nav-link">Menu</a></li>
        </ul>
        <a href="/" class="brand">FREYA PHAN</a>
    </nav>
    <div id="dropdown_menu" class="dropdown-menu hidden">
        <ul>
            <div class="menu-header">
                <span class="close-btn" id="close_btn">&times;</span> <!-- Nút X để thoát -->
            </div>
            <li><a></a></li>
            <li><a></a></li>
            <li><a></a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    {% block content %}
    {% endblock content %}
    <script>
        var lastScrollTop = 0;
        var navbar = document.getElementById("navbar");
        window.addEventListener("scroll", function () {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            if (scrollTop > lastScrollTop) {
                navbar.style.top = "-100px";
            } else {
                navbar.style.top = "0";
                if (scrollTop === 0) {
                    navbar.classList.remove("scrolled"); 
                } else {
                    navbar.classList.add("scrolled"); 
                }
            }
            lastScrollTop = scrollTop;
        });

        document.addEventListener("DOMContentLoaded", function() {
            var menuIcon = document.getElementById("menu_icon");
            var dropdownMenu = document.getElementById("dropdown_menu");
            var closeBtn = document.getElementById("close_btn");

            menuIcon.addEventListener("click", function() {
                dropdownMenu.classList.toggle("hidden");
            });

            closeBtn.addEventListener("click", function() {
                dropdownMenu.classList.add("hidden");
            });
        });

        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                var panel = this.nextElementSibling;
                var isActive = this.classList.contains("active");
                for (var j = 0; j < acc.length; j++) {
                    var otherPanel = acc[j].nextElementSibling;
                    if (otherPanel !== panel) {
                        otherPanel.style.maxHeight = null;
                        acc[j].classList.remove("active");
                    }
                }
                if (isActive) {
                    this.classList.remove("active");
                    panel.style.maxHeight = null;
                } else {
                    this.classList.add("active");
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
        const overlay = document.getElementById("overlay");
        const dropdownMenu = document.getElementById("dropdown_menu");
        const closeButton = document.getElementById("close_btn");

        // Ngăn chặn sự kiện cuộn mặc định
        function preventDefaultScroll(event) {
            event.preventDefault();
        }

        // Mở dropdown menu khi click vào nút Menu
        document.querySelector(".nav-link").addEventListener("click", function(event) {
            event.preventDefault(); // Ngăn chặn mặc định hành vi khi click vào nút
            overlay.classList.remove("hidden");
            dropdownMenu.classList.remove("hidden");
            dropdownMenu.classList.add("active");
            window.addEventListener('scroll', preventDefaultScroll, { passive: false });
        });
    </script>
</body>
</html>
