{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>
<style>
    .logo-base img {
        cursor: default;
        max-width: 150px;
        margin-left: 10px;
    }

    .logo-base img {
        max-width: 150px;
    }

    .logo-base:hover img { 
        transform: scale(1);
    }
    
</style>
<img src="{% static 'home/image/cover-img.png' %}" class="centered-image">
<footer>
    <ul class="social-links">
        <li>
            <a href="https://www.instagram.com/freya.phan" target="_blank">
                <img src="{% static 'base/image/instagram.png' %}"> Instagram
            </a>
        </li>
    </ul>
</footer>
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}