{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>

<img src="{% static 'home/image/cover-image.png' %}" class="centered-image">
<footer>
    <ul class="social-links">
        <li>
            <a href="https://www.instagram.com/freya.phan" target="_blank">
                <img src="{% static 'base/image/instagram.png' %}"> Instagram
            </a>
        </li>
    </ul>
</footer>
{% endblock %}