/* Footer */
footer {
  background-color: #fff;
  color: #000;
  font-family: 'Arial', sans-serif;
  width: 100%;
  padding: 2px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.social-links {
  text-align: center;
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin: 0 10px;
}

.social-links a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.social-links img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.centered-image {
  display: block;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}