/* Cài đặt chung */
html, body {
    transition: all 0.5s ease-in-out;
    font-family: 'Playfair Display', serif;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  body.loading {
    opacity: 0.5;
    transform: scale(0.95);
  }
  
  body.loaded {
    opacity: 1;
    transform: scale(1);
  }
  
  /* Header */
  .header-base {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo-base img {
    max-width: 150px;
    margin-left: 10px;
  }
  
  /* Navbar */
  .navbar-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
  }
  
  /* Menu toggle - chỉ hiển thị trên thiết bị di động */
  .menu-checkbox {
    display: none; /* Ẩn checkbox */
  }
  
  .menu-label {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .menu-label .menu-icon {
    display: block; /* Hiển thị icon ba gạch */
    cursor: pointer;
    width: 30px; /* Điều chỉnh kích thước phù hợp */
  }
  
  /* Định dạng chung cho icon menu và icon close */
  .menu-label .menu-icon,
  .menu-checkbox:checked + .menu-label .menu-icon {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  
  /* Khi checkbox được chọn, thay đổi hình ảnh và kích thước cho icon */
  .menu-checkbox:checked + .menu-label .menu-icon {
    content: url(/static/home/image/close-icon.png); /* Đường dẫn đến icon close */
    width: 20px; /* Kích thước nhỏ hơn cho icon close */
    height: 20px; /* Kích thước nhỏ hơn cho icon close */
    top: 15px;
    right: 20px;
  }
  
  .nav-menu {
    display: none;
    position: fixed;
    top: 83px;
    right: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    overflow-y: auto;
    max-height: 80vh;
  }
  
  .nav-menu.active {
    display: block;
    transform: translateX(0);
  }
  
  .nav-menu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .nav-menu a:hover {
    background-color: #f8f8f8;
    color: #555;
  }